.tab {
      display: flex;
      justify-content: space-between;
      color: blue;
}

.image {
      width: 20%;
      height: 50%;
      border-radius: 50%;
      padding-bottom: 0%;
}

.box {
      display: flex;
      justify-content: space-between;
}